<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Example all users</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
    <div>
        <div class="container text-center">
            <h1>Welcome to CarStop</h1>
            <h3><a th:href="@{/user}">List of Users</a></h3>
            <h3><a th:href="@{/user/registration}">Register</a></h3>
            <h3><a th:href="@{/login}">Login</a></h3>
        </div>
    </div>
</body>
</html>